@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f5f9ff;
    --foreground: #ededed;
    --text: #0f172a;
    --blue: #1e90ff;
    --blue-hover: #1879db;
  }
}

.site-header {
  background: rgba(255, 255, 255, 0.9);
}

body {
  background: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}

.forms label {
  display: flex;
  flex-flow: column;
}

.forms input {
  border: solid 1.5px #DDDDDD;
  border-radius: 5px;
  padding: 0.1em;
}

.forms button {
  padding: 0.7em;
  margin-top: 1em;
  border-radius: 5px;
  border: 0px;
  box-shadow: 0px 5px #808080;
  background-color: #1e90ff;
  color: white;
}

.forms button:hover {
  background-color: #1fA3ff;
}

.forms button:active {
  top: 5px;
  position: relative;
  background-color: #1fA3ff;
  box-shadow: none;
}